@model Excel.Models.ExcelModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExcelModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longadouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longadouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoFuncionario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
